body {
    background: #007bff;
}

header {
    display: flex;
    justify-content: space-around;
}

#time {
    color: #fff;
}

main {
   padding: 10%;
}

h1 {
    font-size: 50px;
    color: #fff;
}

h1, p {
    margin-bottom: 20px;
}

/* Styling of the Start Button  */
#start {
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}