* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
  
}

body {
    background: #007bff;
    display: flex;
    align-items: center;
    min-height: 0vw;
    max-width: 150vh;
    margin-right: 0px;
}

header {
    display: flex;
    justify-content: space-around;
}

header a {
    color: #fff;
}


header h4 {
    color: #fff;
}

main {
   padding: 10%;
}

h1 {
    font-size: 50px;
    color: #fff;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    font-size: 40px;
    color: #fff;
}


.hide {
    display: none;
}

#quiz-box {
    width: 50vw;
    height: 100vh;
    position: relative;
    /* top: -50px; */
}


#quiz-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

}

#question { 
    padding: 10px 5px;
    font-size: 24px;
}

/* This is the choice container */
.choice-container  {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.5rem;
    border: 0.1rem solid black;
    border-radius: 7px;
    background-color: #ccc;
}

.choice-container:hover  {
    cursor: pointer;
    box-shadow: #fff;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
} 

.choice-prefix {
    padding: 0.5rem 1.5rem;
    background-color: black;
    color: white;
    position: absolute;
}

.choice-text {
    position: relative;
    padding: 0.5rem;
    width: 100%;
    font-size: 1.5rem;
}

/* #choices {
    display: flex;
    padding: 2px;
    flex-direction: column;
    margin: 10px 0;
    margin-bottom: 1.5 rem;
}


#choices span {
    background-color: #ccc;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #444;
    padding: 10px 15px;
    margin-bottom: 1.5 rem;
} */


/* Styling of the Start Button 
#start {
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.hide {
    display: none;
}

/* questions styling start */
/* .box  {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
    min-height: 350px;
    margin-right: 0;
    padding: 50px;
}

#quiz-title {
    border-bottom: 1px solid #464646;
    color: #464646;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
}

.quiz-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

}

.scoreBox, .timeBox {
    border-radius: 100px;
    padding: 10px 15px;
    border: 1px solid #444;
    color: #444;

}

.question-box {
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
}

.choices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 0;
    grid-gap: 15px;
}

.choices span {
    background-color: #ccc;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #444;
    padding: 10px 15px;
}

.quiz-footer {
    display: flex;
    justify-content: space-around;
}

.quiz-footer button {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #444;
    padding: 7px 15px;
    font-size: 20px;
}*/


/* questions styling end */

@media screen and (max-width : 2200px){
    body {
      margin-right: 0px;
      justify-content: center;
      max-width: 100%;
    }

    .choices {
        grid-template-columns: 1fr;
    }

    .quiz-footer button {
        margin: 0px 10px 10px 0px;
        font-size: 14px;
    }
}


@media screen and (max-width : 768px){
    #quiz-box, .box {
        width: 100%;
    }

    .choices {
        grid-template-columns: 1fr;
    }

    .quiz-footer button {
        margin: 0px 10px 10px 0px;
        font-size: 14px;
    }
}

@media screen and (max-width: 500px){

    body {
        align-items: center;
        min-height: 50vh;
    }

    #quiz-box, .box {
        width: 100%;
        height: 100%;
    }

    .choices {
        grid-template-columns: 1fr;
    }

    .quiz-footer button {
        margin: 0px 10px 10px 0px;
        font-size: 14px;
    }
}